/**
 * Site footer
 */
 .site-footer {
    //border-top: 1px solid $theme-color-light;
    padding: 25px 0;
    background: #f1f1f1;
    a{
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
    }
    p{
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }