---
layout: home_layout
---
<div class="home">

    <div class="recent-posts">
      <h1>Recent posts</h1>
      {% for post in paginator.posts offset:0 limit:3%}
      <div class="col-lg-4" style="text-align: center;">
        <div class="recent-post-item">
          <h2>{{post.title}}</h2>
          <p>{{post.description}}</p>
        </div>
      </div>
      {%endfor%}
    </div>
    
</div>
</div>
</div>

<!--
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}-->

<!-- <div class="paginator">
        {% if paginator.total_pages > 1%}
        {% if paginator.previous_page %}
        <a class="pagi-prev-active"
          href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
        <span class="pagi-prev-deactive">&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <span class="pagi-current-item">{{ page }}</span>
        {% elsif page == 1 %}
        <a class="pagi-item" href="/">{{ page }}</a>
        {% else %}
        <a class="pagi-item"
          href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <a class="pagi-next-active"
          href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
        <span class="pagi-next-deactive">Next &raquo;</span>
        {% endif %}
        {% endif %}
      </div>-->