---
layout: home_layout
---
<div class="home">

  <div class="recent-posts">
    <h1>Recent posts</h1>
    <div class="row">
      {% for post in paginator.posts offset:0 limit:3%}
      <div class="col-lg-4" style="text-align: center;">
        <div class="card">

          <div class="face face1">

            <div class="card-content">
              <h3>{{post.title}}</h3>
            </div>

          </div>

          <div class="face face2">

            <div class="card-content">
              <p>{{post.description}}</p>
              <a href="{{post.url}}">Read More</a>
            </div>

          </div>

        </div>
      </div>
      {%endfor%}
    </div>
  </div>

</div>

</div>

<!-- <div class="paginator">
        {% if paginator.total_pages > 1%}
        {% if paginator.previous_page %}
        <a class="pagi-prev-active"
          href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
        <span class="pagi-prev-deactive">&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <span class="pagi-current-item">{{ page }}</span>
        {% elsif page == 1 %}
        <a class="pagi-item" href="/">{{ page }}</a>
        {% else %}
        <a class="pagi-item"
          href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <a class="pagi-next-active"
          href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
        <span class="pagi-next-deactive">Next &raquo;</span>
        {% endif %}
        {% endif %}
      </div>-->