---
layout: default
---
<div id="home-container">

  <span class="subtitle">최근 활동</span>

  <div class="recently-list">

    {% for post in site.posts offset:0 limit:6%}
    <div onclick="location.href='{{post.url}}'" class=card>
      <h3>{{post.title}}</h3>
      <div class="card-contents">
        {% if post.image %}
        <img src="{{site.url}}/assets/post/{{post.image}}">
        {% else %}
        {% if post.layout == "post" %}
        <i class="fas fa-file-invoice"></i>
        {% else %}
        <i class="fas fa-file-code"></i>
        {% endif %}
        {% endif %}
        <p>{{post.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>