<!DOCTYPE html>
<html lang="ko">
{% include head.html %}

<body>
    <script>
    function clickOnEvent() {
        var el=document.getElementById("mobile-only-menu");
        console.log(el);
        el.style.display="flex";
    }
    function clickOffEvent() {
        var el=document.getElementById("mobile-only-menu");
        console.log(el);
        el.style.display="none";
    }
    </script>
  <div class="mobile-only-nav">
    <span class="mobile-nav-title">{{site.social.github}}'s dev blog</span>
    <img id="menu-icon" onclick="clickOnEvent()" src="{{site.url}}/assets/img/profile.png">
  </div>
  <div id="mobile-only-menu">
    <h1 class="mobile-only-menu-title">menu</h1>
    <nav>
      <ul>
        <li class="mobile-only-menu-item"><a href="{{site.url}}/posts">post</a></li>
        <li class="mobile-only-menu-item"><a href="{{site.url}}/portfolios">portfolios</a></li>
        <li class="mobile-only-menu-item"><a href="{{site.url}}/about">about me</a></li>
        <li class="mobile-only-menu-item"><a onclick="clickOffEvent()">exit</a></li>
      </ul>
    </nav>
  </div>
  <div id="home-container">

    <div class="side-about-me">
      <h1>{{site.social.github}}'s dev blog</h1>

      <img src="{{site.url}}/assets/img/profile.png">
      <h2>{{site.social.github}}</h2>
      <span>{{site.profile.description}}</span>
      <nav>
        <ul>
          <li>
            <span>Posts</span>
          </li>
          <li>

            <span>Portfolio</span>
          </li>
          <li>
            <span>About me</span>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main">

    </div>
  </div>
</body>

</html>