---
layout: default
---
<div id="portfolio">
  <h2 class="page-title">{{page.title}}</h2>
  <h5> ~ {{page.date | date_to_string}} ~ </h5>

  <article class="desc">
    <p>{{page.description}}</p>
  </article>
  <h3>사용된 기술</h3>
  <div class="tags">
    {%for tag in page.tags%} 
    <div class="tag">
      <img src="{{site.url}}/assets/tag/{{tag}}.png">
      <strong><span class="tag-name">{{tag}}</span></strong>
    </div>
    {%endfor%}
  </div>
  <article class="contents">
    <p>{{ content }}</p>
  </article>
</div>