// Home Header
#home-header {
  background: $theme-color-dark;
  @media (max-width: 1200px){
    .container {width: 100%;}
  }
  
  /* 화면 너비 0~1024px */
  @media (max-width: 1024px){
  }
  
  /* 화면 너비 0~960px */
  @media (max-width: 960px){
  }
  
  /* 화면 너비 0~600px */
  @media (max-width: 600px){
    .home-header .header-tit{display: none;}
    .home-header .header-tab {margin-top: 50px; }
  }
}

.container {position: relative; width: 1220px; margin: 0 auto;}

.home-header .header-tit { text-align: center; margin-top: 55px;}
.home-header .header-tit a { font-size: 16px; background: $theme-color-light; display: inline-block; font-size: 14px; color: #fff; font-family: 'Josefin Sans',sans-serif;
padding: 10px 24px 10px 24px;};
.home-header .header-tit h1 { text-align: center; text-transform: uppercase; font-family: 'Josefin Sans', sans-serif; font-size:30px;
  background-color: $theme-color; color: #fff; 
  padding: 15px 45px 15px 45px; display: inline-block; transition: box-shadow 0.25s ease-in-out;
}
.home-header .header-tit h1:hover {
  box-shadow: 
        inset -9em 0 0 0 $theme-color-light, 
        inset 9em 0 0 0 $theme-color-light;
} 
.home-header .header-tit a:hover {
  font-size: 28px;
  background: $theme-color-more-light;
  transition:0.4s;
}

.home-header .header-tab {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Josefin Sans',sans-serif;
  margin-top: 80px;
  bottom: 0px;
}
.home-header .header-tab span {
  padding: 7px 14px 0px 14px;
  font-size: 14px;
  color: #fff;
  translate : .4s;
  cursor:pointer;
}
.home-header .header-tab span:hover {
  background: $theme-color-light;
}

//Home Content
.recent-posts {
  margin-top: 80px;
}
.recent-posts h1 {
  margin-bottom: 40px;font-family: 'Josefin Sans',sans-serif;text-transform: uppercase;
}
.recent-posts .recent-post-item{
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 5px #d1d1d1;
  width:100%
}
.recent-posts .recent-post-item h2{
  font-size: 24px;
  border-radius: 10px 10px 0px 0px ;
  background: $theme-color-more-light;
  text-align: center;
  padding: 10px 20px 10px 20px;
  color:#fff;
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
}
.recent-posts .recent-post-item:hover{
  background-color: #88888855;
  transition: 0.4s;
  cursor: pointer;
}
.recent-posts .recent-post-item p{
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 10px 10px ;
  font-size: 14px;
  height: 90px;

  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
}

/* mediaquery */
/* 화면 너비 0~1220px */
