/**
 * Posts
 */
 .post{
   padding: 30px;
   background: #f5f5f5;
   border: 1px solid #c1c1c1;
   border-radius: 5px;
   .post-header{
     text-align: center;
     margin-top: 30px;
     margin-bottom: 30px;
     padding-bottom: 30px;
   }
   .post-header:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #a1a1a1;
  }
   .post-title{
   }
   .post-author{
     text-align: right;
     color: #00000055;
   }
 }
  .social-media-list {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      margin: 0 5px;
      &:first-of-type { margin-left: 0 }
      &:last-of-type { margin-right: 0 }
      a {
        display: block;
        padding: $spacing-unit / 4;
        border: 1px solid $theme-color-light
      }
      &:hover .svg-icon { fill: currentColor; }
    }
  }