#posts-page-content {
  h1 {
    margin-top: 45px;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  ul {
    li {
      list-style: none;
      box-shadow: 0px 0px 15px #00000055;
      margin-top: 15px;
      margin-bottom: 15px;
      height: 125px;
      position: relative;
      width: 100%;

      img {
        width: 125px;
        height: 125px;
        background: $theme-color-light;
        vertical-align: middle;
        float: left;
      }

      .post-text {
        text-align: left;
        padding: 10px 10px 10px 135px;
        .post-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .post-author {
          float: right;
          color: gray;
          font-size: 12px;
        }

        .post-description {
          overflow: hidden; 
          text-overflow: ellipsis; 
          white-space: normal; 
          line-height: 1.2;
          max-height: 50px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }

}